In [3]:
import pandas as pd

# Common Sense Coalition Members and their BioGuide_IDs
common_sense_coalition_data = {
    'bioguide_id': [
        'C001034', 'C001076', 'C001130', 'C001079', 'D000630', 'G000557', 'H001079', 'H001078', 'K000384', 'K000388',
        'K000384', 'K000376', 'M000639', 'M000844', 'P000602', 'R000607', 'R000598', 'S001157', 'S001193', 'S001182',
        'T000464', 'W000806', 'Y000059'
    ],
    'Name': [
        'Susan Collins', 'Shelley Moore Capito', 'Bill Cassidy', 'Chris Coons', 'Dick Durbin', 'Lindsey Graham',
        'Maggie Hassan', 'John Hickenlooper', 'Tim Kaine', 'Mark Kelly', 'Angus King', 'Amy Klobuchar', 'Joe Manchin',
        'Lisa Murkowski', 'Gary Peters', 'Mitt Romney', 'Mike Rounds', 'Jeanne Shaheen', 'Kyrsten Sinema', 'Jon Tester',
        'Thom Tillis', 'Mark Warner', 'Todd Young'
    ],
}

# Convert the common_sense_coalition_data to a DataFrame
df_all = pd.DataFrame(common_sense_coalition_data)

# Add the 'Common Sense Coalition' binary column to the DataFrame
df_all['Common Sense Coalition'] = 1

# Add a new column 'caucus_sum' to count the total membership in each group
df_all['caucus_sum'] = df_all[['Common Sense Coalition']].sum(axis=1)

In [4]:
df_all

   bioguide_id                  Name  Common Sense Coalition  caucus_sum
0      C001034         Susan Collins                       1           1
1      C001076  Shelley Moore Capito                       1           1
2      C001130          Bill Cassidy                       1           1
3      C001079           Chris Coons                       1           1
4      D000630           Dick Durbin                       1           1
5      G000557        Lindsey Graham                       1           1
6      H001079         Maggie Hassan                       1           1
7      H001078     John Hickenlooper                       1           1
8      K000384             Tim Kaine                       1           1
9      K000388            Mark Kelly                       1           1
10     K000384            Angus King                       1           1
11     K000376         Amy Klobuchar                       1           1
12     M000639           Joe Manchin                       1           1
13     M000844        Lisa Murkowski                       1           1
14     P000602           Gary Peters                       1           1
15     R000607           Mitt Romney                       1           1
16     R000598           Mike Rounds                       1           1
17     S001157        Jeanne Shaheen                       1           1
18     S001193        Kyrsten Sinema                       1           1
19     S001182            Jon Tester                       1           1
20     T000464           Thom Tillis                       1           1
21     W000806           Mark Warner                       1           1
22     Y000059            Todd Young                       1           1

In [5]:
df_all.to_csv('118th_Senate_Groups.csv', index=False)